
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  }
li{
    list-style: none;
}
a:hover{
  color: #57A4A4;
  transition: 0.3s;
}
.header{
  padding: 45px 0;
  position: relative;
}
.menu{
  display: flex;
  justify-content: center;
  gap: 48px;

  @media (max-width: 768px) {
    display: none;
    &.active{
      display: flex;
      width: 182px;
      height: 240px;
      flex-direction: column;
      background: #f5f5f5;
      right: 30px;
      top:80px;
      gap:0;
      position: absolute;
    }

  }
  &-item{
    @media (max-width: 768px) {
      padding: 5px 10px;
      &:hover{
        background-color: #e5e5e5;
      }
    }

  }
  &-item-link {
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4E4E4E;
  }
  }
.burger{
  display:none;
  cursor: pointer;
  @media(max-width: 768px) {
    display: block;
    position: relative;
    margin: 0 0 0 auto;
    height: 36px;
    width: 44px;
    z-index: 10;
    background-color: black;
    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 17px;
      right: 14px;
      left: 14px;
      background: white;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &:before {
      top: 12px;
    }

    &::after {
      bottom: 12px;
    }

    span {
      position: absolute;
      top: 17px;
      right: 14px;
      left: 14px;
      width: 17px;
      background: white;
      height: 2px;
      transform: scale(1);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
    &.active-burger{
      &:before{
        transform: rotate(45deg);
        top:17px;
      }
      &:after{
        transform: rotate(-45deg);
        bottom: 17px;
      }
      & span{
        transform: scale(0);
      }
    }

  }
}
.img-banner{
  width: 100%;
  height: 550px;
  background-image:url("/dist/img/intro-img 1.png");
  background-size:cover;
  background-repeat: no-repeat;
  margin-bottom: 66px;
  background-position: center;
  @media (max-width: 768px) {
    height: 361px;
    margin-bottom: 56px;
      }
  @media (max-width: 576px) {
    height: 150px;
    margin-bottom: 38px;

  }
}
.container{
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.posts-title{
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4E4E4E;
  margin-bottom: 24px;
  @media (max-width: 576px) {
    font-size: 14px;

  }
}
.card-items{
  display: flex;
  flex-wrap: wrap;

}
.card-item{
  display: flex;
  max-width: 730px;
  width: 50%;
  margin-bottom: 32px;
  gap: 21px;
  @media (max-width: 768px) {
    width: 100%;

  }
  @media (max-width: 576px) {
    flex-direction: column;
    margin-bottom: 28px;

  }

  &-image{
    width: 160px;
    height: 140px;
    object-fit: cover;
      }
  &-content{
    display: flex;
    flex-direction:column;
  }
  &-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #4E4E4E;
    @media (max-width: 576px) {
      font-size: 14px;

    }
  }
  &-subtitle{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #7C7C7C;
    margin-bottom: 13px;
    @media (max-width: 576px) {
      font-size: 11px;
      margin-bottom: 0;

    }
  }
  &-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #5C5C5C;
    @media (max-width: 576px) {
     display: none;

    }
  }
}
.instagram-shots{
  background: #f7f7f7;
  padding: 47px 0;
  &-titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  &-title,&-link{
    font-weight: 700;

    line-height: 22px;
     text-transform: uppercase;
    color: #4E4E4E;
  }
&-title{
  font-size: 16px;
}
  &-link{
    font-size: 13px;
    @media(max-width:576px)  {
      display: none;

    }
  }
  &-row{
    display: flex;
    justify-content: space-between;
    gap:10px;
    overflow: hidden;
  }
  &-image{
    max-width:285px;
    height: 285px;
    object-fit: cover;
    width: 25%;
    @media(max-width:768px){
      width:33.3% ;

    }
    @media(max-width:576px){
      width:100% ;
      max-width: 301px;
      display: none;
    &:first-child{
      display: block;
    }
    }
  }
  }
.footer{
  background: black;
  padding: 57px 0;

  text-align: center;
  &-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FEFEFE;
    margin-bottom: 22px;

  }
  &-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #B9B9B9;
    max-width: 684px;
    width: 100%;
    margin: 0 auto 37px;
    @media (max-width: 576px) {
      font-size: 12px;
       }
  }
&-socials{
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-bottom: 34px;

}
  &-contacts{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    @media (max-width: 768px) {
      font-size: 14px;

    }
    @media (max-width: 576px) {
      display: flex;
      flex-direction: column;
    }
    & a{
      text-decoration: none;
      color: #B9B9B9;
      margin-right: 6px;
      &:hover{
        color: #57A4A4;
        transition: 0.3s;
      }
      & span{
        margin-left: 6px;
      }

    }
  }
}



